*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.iml
*.name
Beirut/.idea/*
Beirut/*/.idea/*
Beirut/*/target/*
Beirut/2015/*/.idea/
Beirut/2015/*/*/.idea/
Beirut/2015/*/target/*
Beirut/2016/*/.idea/
Beirut/2016/*/*/.idea/
Beirut/2016/*/target/*
Beirut/2016/*.idea/*.xml
Beirut/2016/2016-02-17-even-fibonacci-numbers/.idea/sonarIssues.xml